<include file="common/common_header"/>
<!-- BEGIN PAGE BREADCRUMBS -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="{:U('Sadmin/Index/index')}">首页</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Layouts</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMBS -->
<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="note note-info">
        <p>系统功能管理列表</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">                
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="bt-add" class="btn sbold green"> 添加一级菜单
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /> 
                            </th>
                            <th>菜单名称</th>
                            <th>图标样式</th>
                            <th>模块</th>
                            <th>控制器</th>
                            <th>方法</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <volist name="function_list" id="data">
                        <tr class="odd gradeX">
                            <td><input type="checkbox" class="checkboxes" value="1" /></td>
                            <td>{$data.title}</td>
                            <td>{$data.style}</td>
                            <td>{$data.module}</td>
                            <td>{$data.controller}</td>
                            <td>{$data.method}</td>                            
                            <td class="center">
                                <if condition="$data.status eq 0"><span class="label label-sm label-success">有效</span>
                                <elseif condition="$data.status eq 1"/><span class="label label-sm label-danger">已禁用</span>
                                </if>
                            </td>
                            <td class="table-options">
                                <a href="">添加子菜单</a>
                                <a class="edit" data-id="{$data.id}" href="javascript:void(0)">编辑</a>
                                <a class="disabled" data-id="{$data.id}" href="javascript:void(0)">禁用</a>
                                <a class="delete" data-id="{$data.id}" href="javascript:void(0)">删除</a>
                            </td>
                        </tr>
                        </volist>                        
                    </tbody>
                </table>
                {$pagination}
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- BEGIN Modals-->
<!--添加用户-->
 <div class="modal fade" id="modal-add" tabindex="-1"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-user-plus font-green"></i> 添加功能</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> You have some form errors. Please check below. 
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> Your form validation is successful! 
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal form-add" role="form" novalidate="novalidate">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">菜单名称</label>
                                <div class="col-md-10">
                                    <input type="text" name="title" class="form-control" placeholder="请输入菜单名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">图标样式</label>
                                <div class="col-md-10">
                                    <input type="text" name="style" class="form-control" placeholder="请输入菜单小图标样式">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">模块名</label>
                                <div class="col-md-10">
                                    <input type="text" name="module" class="form-control" placeholder="菜单链接模块名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">控制器</label>
                                <div class="col-md-10">
                                    <input type="text" name="controller" class="form-control" placeholder="菜单控制器">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">方法名</label>
                                <div class="col-md-10">
                                    <input type="text" name="method" class="form-control" placeholder="对应控制器的方法">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">菜单排序</label>
                                <div class="col-md-10">
                                    <input type="text" name="sort" class="form-control" placeholder="菜单的排序，越小越靠前。">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">备注</label>
                                <div class="col-md-10">
                                    <textarea name="remark" id="remark" class="form-control" placeholder="登录用户的备注信息"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">取消</button>
                <button type="button" class="btn green submit-add">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END Modals-->
<!-- END PAGE CONTENT INNER -->
<include file="common/common_footer"/>
<script>
    $(function(){
        //添加菜单
        $('#bt-add').click(function(){
            $('#modal-add').modal('show');
            return false;
        })
        $('.submit-add').click(function(){
            $('.form-add').submit();
        })
        $('.form-add').validate({
            errorElement:"span",
            errorClass:"help-block",
            focusInvalid:!1,
            rules:{
                title: {required:!0,maxlength: 8},
                module: {required: true},
                controller: {required: true},
                method: {required: true},
                sort: {}
            },
            messages:{
                title: {
                    required: "请输入菜单名称",
                    maxlength: '菜单名称不能超过8个字符'
                },                    
                module: {
                    required: "请填写菜单链接模块名称"
                },
                controller: {
                    required: "请输入控制器名称"
                },
                method: {
                    required: "请填写方法名称"
                }
            },
            invalidHandler:function(e,r){
                $(".alert-danger").show();
                $(".alert-success").hide();
            },
            highlight:function(e){
                $(".alert-danger").show();
                $(".alert-success").hide();
                $(e).closest(".form-group").addClass("has-error")
            },
            unhighlight:function(e){
                $(e).closest(".form-group").removeClass("has-error")
            },
            success:function(e){                    
                e.closest(".form-group").removeClass("has-error"),e.remove()
            },
            submitHandler:function(e){
                $(".alert-danger").hide();
                $(".alert-success").show();
                loading();
                $.ajax({
                        url: '{:U('Sadmin/Function/add')}',
                        type: 'POST',
                        data: $('.form-add').serialize(),
                        dataType: 'json',
                        success: function(data){
                            if(data.status == 'success'){
                                bootbox.dialog({
                                    message: data.msg,
                                    title: "温馨提示：",
                                    buttons:{
                                        success:{
                                            label: "确定",
                                            className: "green",
                                            callback: function(){
                                                window.location.reload();
                                            }
                                        }
                                    }
                                })
                            }else{
                                bootbox.dialog({
                                    message: data.msg,
                                    title: "温馨提示：",
                                    buttons:{
                                        success:{
                                            label: "确定",
                                            className: "green"
                                        }
                                    }
                                })
                            }
                            loadingRemove();
                        }                            
                    })
                return false;
            }
        })
    })
</script>
    </body>
</html>