<include file="common/common_header"/>
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="{:U('Sadmin/Index/index')}">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Layouts</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="note note-info">
                                <p>系统功能管理</p>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
<include file="common/common_footer"/>