<include file="common/common_header"/>
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="{:U('Sadmin/Index/index')}">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="{:U('Sadmin/My/profile')}">我的信息</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>修改头像</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div id="avator-act"></div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
<include file="common/common_footer"/>
<script src="{:C('LIB_URL')}FaustCplus/swfobject.js"></script>
<script type="text/javascript">
    var forward = '{:U('Sadmin/My/profile')}';
    function uploadevent(status) {
        status += '';
        switch (status) {
            case '1':                
                alert("头像修改成功！");
                try {
                    if (window.external.RCCoralOnlineFavPage("DetailVersion") >= 3.0 && window.external.RCCoralOnlineFavPage("passid") && '6943695' == window.external.RCCoralOnlineFavPage("passid")) {
                        window.external.RCCoralOnUserHeadImageChanged();
                    }
                } catch (e) {
                    try {
                        if (chrome.sync.onlineFavPage("passid") && '6943695' == chrome.sync.onlineFavPage("passid")) {
                            chrome.sync.onUserHeadImageChanged();
                        }
                    } catch (e) {
                    }
                }
                if(forward!=''){
                    window.location = forward;
                }else{
                    window.location.reload();
                }
                break;
            case '-1':
                window.location = forward;
                break;
            case '-2':
                alert("上传失败！");
                window.location.reload();
                break;
            default:
                alert(typeof(status) + ' ' + status);
        }
    }
    function langFunc() {
        return {
            "CX0189": "您上传的头像会自动生成三种尺寸\n请注意中小尺寸的头像是否清晰",
            "CX0193": "仅支持JPG、GIF、PNG图片文件，且文件小于2M"
        };
    }
    var flashvars = {
        "jsfunc": "uploadevent",
        "jslang": "langFunc",
        "imgUrl": "{$avatar}?" + new Date().getTime(),
        "pid": "75642723",
        "uploadSrc": false,
        "showBrow": true,
        "showCame": true,
        "uploadUrl": "{:U('Sadmin/My/avatarSave')}",
        "uploadTmpUrl": "",
        "pSize": "300|300|200|200|120|120|48|48"
    };
    var params = {
        menu: "false",
        scale: "noScale",
        allowFullscreen: "true",
        allowScriptAccess: "always",
        wmode: "transparent",
        bgcolor: "#FFFFFF"
    };
    var attributes = {
        id: "FaustCplus"
    };
    swfobject.embedSWF("{:C('LIB_URL')}FaustCplus/FaustCplus.swf?v=20140417", "avator-act", "750", "500", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
</script>